.navigation__link {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  opacity: 0.8;
  font-size: 26px;
  line-height: 26px;
}
.navigation__link:hover {
  opacity: 1;
}

.title, .avatar__hi, h1.avatar__hi {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}

.education__inner .education__text, .languages__text, .project__text, .skills__item .skills__item-text, .about__text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.footer__years {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #363636;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  /* height: 100%; */
}

.button-top {
  background: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px rgb(186, 22, 50);
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 6%;
  visibility: hidden;
  animation-name: buttonTop;
  animation-duration: 850ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0px 0px 15px 2px #000;
}
.button-top .fa-angles-up {
  color: rgb(186, 22, 50);
}

@keyframes buttonTop {
  0% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}
.button-top--activ {
  visibility: visible;
}

.nav {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.navigation__border {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: -100%;
  bottom: 0;
}

.navigation__link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  padding-bottom: 3px;
}
.navigation__link:hover .navigation__border {
  left: 0;
  transition: 0.5s;
}

.navigation__border--activ {
  left: 100%;
  transition: 0.5s;
}

.avatar {
  margin-bottom: 100px;
}

.avatar__inner {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 500px 100px 480px;
  column-gap: 10px;
  justify-items: center;
}

.avatar-img__box {
  grid-column: 1/2;
  grid-row: 1/4;
}

h1.avatar__hi {
  grid-column: 2/4;
  grid-row: 1/1;
  align-self: flex-end;
  font-size: 50px;
  line-height: 50px;
}

.avatar__hi {
  grid-column: 2/4;
  grid-row: 2/3;
}

.about {
  grid-column: 2/4;
  grid-row: 3/4;
  display: block;
  align-self: flex-start;
  text-align: center;
}
.about .about__text + .about__text {
  margin-top: 15px;
}

.skills {
  margin-bottom: 60px;
}
.skills::after {
  content: "";
  display: block;
  width: 95%;
  text-align: center;
  height: 2px;
  background-color: #fff;
  margin: 15px auto 0;
}

.skills__title {
  margin-bottom: 30px;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__item .skills__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.skills__item .skills__item-icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.skills__item-wrapper + .skills__item-wrapper {
  margin-left: 15px;
}

.experience::after {
  content: "";
  display: block;
  width: 95%;
  text-align: center;
  height: 2px;
  background-color: #fff;
  margin: 15px auto 0;
}

.experience__title {
  margin-bottom: 30px;
}

.projects {
  margin-left: 50px;
}

.project__link {
  display: block;
  font-size: 36px;
  color: #fff;
  transition: all 300ms ease;
}
.project__link:hover {
  text-decoration: underline;
}
.project__link:active {
  color: red;
}

.project__text {
  position: absolute;
  top: 35%;
  left: 7%;
  margin: 0 auto;
  z-index: 5;
  line-height: 30px;
}

.travel {
  background: url(../images/travel.jpg) no-repeat;
  background-size: cover;
  width: 865px;
  height: 513px;
}

.momentum {
  background: url(../images/momentum.jpg) no-repeat;
  background-size: cover;
  width: 865px;
  height: 513px;
  margin-bottom: 15px;
}

.project__img::before {
  content: "";
  display: block;
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.languages {
  margin: 60px 0 0 0;
}
.languages::after {
  content: "";
  display: block;
  width: 95%;
  text-align: center;
  height: 2px;
  background-color: #fff;
  margin: 15px auto 0;
}

.languages__title {
  margin-bottom: 30px;
}

.languages__text + .languages__text {
  margin-top: 15px;
}

.languages__wrap-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 15px;
}

.education {
  margin-top: 60px;
}
.education::after {
  content: "";
  display: block;
  width: 95%;
  text-align: center;
  height: 2px;
  background-color: #fff;
  margin: 15px auto 0;
}

.education__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 25px;
}
.education__inner .education__text {
  margin-top: 15px;
  margin-left: 50px;
}

.footer {
  background-color: #282828;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 40px;
  height: 100px;
}
.footer__inner .footer__link > img {
  width: 40%;
  height: auto;
}

.fa-github {
  color: #000;
}

/*# sourceMappingURL=main.css.map */
