@import '../../main/sass/_style.scss';

.watch {
    background-image: url(../../../assets/images/donate/panda_bg.jpg) ;
    height: 390px;
    margin-bottom: 0;
}

.pick__inner {
   background: transparent;
   backdrop-filter: none;
   border-radius: initial;
}

.donate__wrap:nth-child(2) {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick {
    padding-top: 40px;
}

.pick__inner .pick__subtitle {
    margin-left: 92px
}

.donate__title {
    @extend %font__h3;
    color: $white;
    margin-bottom: 10px;
}

.donate__text {
    margin-bottom: 40px;
    @extend %font_style_button;
    color: $white;
}

.donate__title--active {
    margin-bottom: 60px;
    color: $orange13;
}

.pick__inner .pick__title {
    padding: 40px 0 20px 0;
}

.donate__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate__line {
    height: 273px;
}

.column__wrap {
    margin-right: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .column__wrap-text  {
        @extend %font_style_button;
        font-weight: 400;
        text-align: center;
        color: $gray_blue;
    }

    .column__wrap-text--font {
        margin-bottom: 11px;
        font-weight: 500;
        font-size: 72px;
        line-height: 80%;
        color: $black;
        text-transform: uppercase;
        text-align: center;
    }
}

.column__krest {
    margin-right: 64px;
}

.line__text {
    padding: 0 0 17px 0;
    width: 976px;
    margin: 0 auto;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    line-height: 140%;
}

.progress-bar {
margin: 0 auto;
    background: #404950;
    border-radius: 2px;
    width: 976px;
    height: 27px;
    margin-bottom: 12px;
}

.elipse__list {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-bottom: 12px;

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 31px;
        display: block;
        width: 915px;
        height: 2px;
        background-color: #72828E;
    }
}
.elipse__item + .elipse__item {
    margin-left: 120px;
}

.elipse__item {
  display: flex;
  align-items: center;
  justify-content: center;
    
}
.elipse__circle {
    text-align: center;
    background-color: #FFEE2E;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    z-index: 3;

    &.elipse__circle--margin {
        margin-left: 26px;
    }
}

.elipse__circle--active {
    position: relative;
    &::before {
        content: '';
        background: url(../../../assets/images/Vector1.svg), no-repeat;
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* background: $orange13; */
    }

    &::after {
        content: '';
        position: absolute;
        width: 22.95px;
        height: 22.95px;
        top: -6.5px;
        left: -6.5px;
        right: -6.5px;
        bottom: -6.5px;
        background: url(../../../assets/images/Vector2.svg), no-repeat;
        z-index: 5;
    }
}

.price__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.price__item:nth-child(1) {
    margin-right: 73px;
    width: 57px;
    height: 36px;
}

.price__item:nth-child(2) {
    margin-right: 73px;
    width: 57px;
    height: 36px;
}

.price__item:nth-child(3) {
    margin-right: 52px;
    width: 78px;
    height: 36px;
}

.price__item:nth-child(4) {
    margin-right: 73px;
    width: 57px;
    height: 36px;
}

.price__item:nth-child(5) {
    margin-right: 73px;
    width: 57px;
    height: 36px;
}

.price__item:nth-child(6) {
    margin-right: 58px;
    width: 72px;
    height: 36px;
}

.price__item:nth-child(7) {
    margin-right: 88px;
    width: 71px;
    height: 36px;
}

.price__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        /* position: absolute; */
        display: inline-block;
        text-align: center;
        margin-right: 2px;
        background: url(../../../assets/images/dollar.svg), no-repeat;
        width: 10px;
        height: 20px;
    }
}

.price__text--active {
    color: $orange13;

    &::before {
       background: url(../../../assets/images/dollar__active.svg), no-repeat;
    }
}

.another {
    margin-bottom: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.another__amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    &::after {
        content: '';
        display: block;
        background: url(../../../assets/images/dollar__input.svg);
        margin-left: -20px;
        width: 10px;
        height: 20px;
    }
}

.another__amount {
    border: 1px solid #929699;
    border-radius: 2px;
    width: 268px;
    height: 54px;   
    background: transparent;
    padding: 16px 0 16px 9px;

    &:focus {
        outline: none;
        border: 1px solid #FFEE2E;
    }
}

.input__list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.input__list-container {
    margin-bottom: 31px;
}

.input__list-container {
    display: flex;
    align-items: center;
    background: transparent;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $orange13;
    margin-right: 150px;
    position: relative;
} 

.input__list {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $orange13;
}

.input__list--style {
    margin-right: 20px;
}

/* .input__list-container .input__list--style {
    width: 5px;
    height: 5px;
    background: $orange13;
    display: none;
   /*  position: absolute;
    left: 50%;
    bottom: 50%; */
//}
/* 
.input__list-container .input__list {
   display: none; 
}

.input__list-container .input__list:checked + .input__list--style {
    display: inline-block;
} */ 

.input__list {
    margin-right: 10px;
    border: 1px solid #FE9013;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: transparent;    
}

.input__list-text {
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

/* .input__list-text:last-child {
    margin-right: 0;
} */

.donate__btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pick__btn {
    margin-top: 31px;
    margin-bottom: 0;
}

.pick__end-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-top: 30px;
    padding-bottom: 62px;
}