$black: #000;
$white: #fff;
$yellow: #FFEE2E;
$gray_blue: #333B41;
$orange13: #FE9013;
$gray_light: #F1F3F2;
$gray_4: #BDBDBD;
$line_scroll: #F5F7F6;
$black_footer: #111115;
$green: #4B9200;
$hover_orange: #E47209;

$headerHeigth: -80px;

@mixin navigation__link--activ {
    @include navigation__link--activ;
}

%slider__border-img {
    border: 1px solid;
    border-image-source: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
}

%displayFlexCenterCeter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%fontRobotoH1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}

%fontLink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

%fontFamilyRoboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
}

%font_style_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

%font_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

%smallParagraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

%font__h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
}


