@import '_style.scss';

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.header{
    background-color: $black;
}

.header__inner{
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

.logo{
    @extend %displayFlexCenterCeter;
}

.title{
    @extend %fontRobotoH1;
}

.logo__title{
    border: 1px solid $white;
    border-radius: 2px;
    color: $white;
    text-align: center;
    padding: 3.55px 4.75px;
}

.navigation{
    margin-left: 67.75px;
}

.navigation__list{
    @extend %displayFlexCenterCeter;
    justify-content: start;
}

.navigation__item + .navigation__item {
    margin-left: 58px;
}

.navigation__link{
    @extend %fontLink;
    color: $white;
}

.designed{
    margin-left: 438px;

    .designed__text{
        @extend %fontLink;
        color: $white;
    }
}

.watch {
    background-position-y: -80px;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/pandaBack.jpg);
    background-size: cover; 
    height: 780px;
    margin-bottom: 60px;
}

.watch__inner{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
}

.watch__box{
    display: flex;
    align-items: center;
    justify-content: end;

    &::before {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        width: 465px;
        height: 465px;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: calc(50% - 465px/2 + 242.5px);
        top: 90px;
        z-index: 1;
    }
}

.watch__title{
    @extend %fontFamilyRoboto;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    position: relative;
    z-index: 2;
    margin-top: 86px;
    margin-bottom: 60px;

    .watch__title--orange {
        color: $yellow;
    }
}

.btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    width: 298px;
    height: 54px;
}

.watch__btn {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    @extend %font_style_button;
    margin-right: 99px;
}

.backstage{
    position: relative;
}

.backstage__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 87px;
}

.backstage__title{
    @extend %font_title;
    margin-bottom: 20px;
}

.backstage__text {
    @extend %fontLink;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 54px;
}

h3.backstage__title {
    font-size: 24px;
    margin-bottom: 34px;
}

.backstage__text--font {
    line-height: 140%;
}

.backstage__flower {
    position: absolute;
    top: -128px;
    right: 0;
}
