@import '_style.scss';

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.header{
    position: relative;
    background-color: $black;
}

.header__inner{
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

.logo{
    @extend %displayFlexCenterCeter;
}

.title{
    @extend %fontRobotoH1;
}

.logo__title{
    border: 1px solid $white;
    border-radius: 2px;
    color: $white;
    text-align: center;
    padding: 3.55px 4.75px;
}

.navigation{
    margin-left: 67.75px;
}

.navigation__list{
    @extend %displayFlexCenterCeter;
    justify-content: start;
}

.navigation__item + .navigation__item {
    margin-left: 58px;
}

.navigation__link{
    @extend %fontLink;
    color: $white;
}

.designed{
    margin-left: 438px;

    .designed__text{
        @extend %fontLink;
        color: $white;
    }
}

.watch {
    margin-top: $headerHeigth;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/pandaBack.jpg);
    background-size: cover; 
    height: 780px;
    margin-bottom: 140px;
}

.watch__inner{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
    margin-top: -$headerHeigth;
}

.watch__box{
    display: flex;
    align-items: center;
    justify-content: end;

    &::before {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        width: 465px;
        height: 465px;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: calc(50% - 465px/2 + 242.5px);
        top: 90px;
        z-index: 1;
    }
}

.watch__title{
    @extend %fontFamilyRoboto;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    position: relative;
    z-index: 2;
    margin-top: 86px;
    margin-bottom: 60px;

    .watch__title--orange {
        color: $yellow;
    }
}

.btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    width: 298px;
    height: 54px;
}

.watch__btn {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    @extend %font_style_button;
    margin-right: 99px;
}

.backstage{
    position: relative;
    margin-bottom: 106px;
}

.backstage__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 87px;
}

.backstage__title{
    @extend %font_title;
    margin-bottom: 20px;
}

.backstage__text {
    @extend %fontLink;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 54px;
}

h3.backstage__title {
    font-size: 24px;
    margin-bottom: 34px;
}

.backstage__text--font {
    line-height: 140%;
}

.backstage__flower {
    position: absolute;
    top: -128px;
    right: 0;
}

.slider {
    position: relative;
}

.slider__inner{
    max-width: calc(1160px + 164px);
    margin: 0 auto;
}

.slider__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.slide__container {
    max-width: 1160px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 366px);
    row-gap: 20px;
    column-gap: 30px;

    .slide{
        border-radius: 5px;
        border: 1px solid;
        border-color:  #FA6F32 #FE9013 #FE9013 #FA6F32;
    }

    .slide__box-img{
        width: 100%;
        border-radius: 5px 5px 0 0;
        margin-bottom: 8px;
    }

    .slide__content {
        margin-left: 16px;
        position: relative;
    }

    .slide__title{
        @extend %fontLink;
        text-transform: uppercase;
        color: $black;
        font-weight: 600;
    }

    .subtitle{
        @extend %fontFamilyRoboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        margin-bottom: 14px;
    }

}
.slider__pagination{
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.btn__wrap{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    .slider__btn {
        background: #FE9013;
        text-align: center;
        text-transform: uppercase;
        @extend %fontLink;
        color: $white;
    }
}

.slider__wrap-flower{
    position: absolute;
    bottom: -100px;
    left: 0;
}

.slider__wrap-flower--right {
    right: 0;
    left: initial;
}

.pick {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick__inner{
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
   // @extend %displayFlexCenterCeter;
    //justify-content: flex-start;
   // flex-direction: column;

    .pick__title {
        color: $orange13;
        text-align: center;
        padding: 41px 0 30px 0;
        @extend %font_title;
    }

    .pick__subtitle {
        color: $gray_blue;
        @extend %font_title;
        font-size: 24px;
        padding-bottom: 40px;
        margin-left: 99px;
    }

    .pick__text {
        color: $gray_blue;
        @extend %fontFamilyRoboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        row-gap: 10px;
        margin-left: 99px;
    }

    .pick__text + .pick__text {
        margin-top: 10px;
    }

    .pick__text.pick__text--weight {
        margin-bottom: 60px;
    }

    .pick__text--weight {
        font-weight: 400;
    }
}
   
.works__title {
    text-align: center;
    margin-bottom: 40px;
    @extend %fontFamilyRoboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $gray_blue;
}

.works__wrap {
    max-width: 764px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: 168px 69px 168px 69px 168px;
    grid-template-rows: 244px;
    column-gap: 30.5px;
    align-items: center;
    justify-content: center;
    justify-items: center; */  
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 30.5px;
} 

.works__box {
    margin-bottom: 60px;
}

.works__contrainer {
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: $white;
    @extend %displayFlexCenterCeter;
    border-radius: 5px;
    border: 1px solid;
    border-color:  #FA6F32 $orange13 $orange13 #FA6F32;
    margin-bottom: 30px;
}

.works__box-title {
    @extend %fontLink;
    font-weight: 400;
    color: $gray_blue;
}

.pick__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pick__btn {
    margin-bottom: 59px;
}

.testimonials {
    padding-top: 140px;
}

.testimonials__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .testimonials__title {
        @extend %font_title;
        font-size: 36px;
        line-height: 47px;
    }

    h2.testimonials__title {
        margin-bottom: 47px; 
    }

    .testimonials__wrap {
       @extend %displayFlexCenterCeter;
        flex-direction: row;
        gap: 30.3px;
        margin-bottom: 21px;
    }

    .testimonials__box {
        border: 2px solid;
        padding: 15px 15px 19px 16px;
        border-radius: 20px;
        background: $gray_light;
         max-width: 268px;
        //height: 391px; 
    }

    .testimonials__container-title {
        margin-left: 10px;
    }

    .testimonials__box-row:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    h6.testimonials__title {
        @extend %font_style_button;
        font-weight: 400;
    }

    .testimonials__subtitle {
        @extend %smallParagraph;
        color: $gray_4;
    }

    .testimonials__subtitle--where {
        /* margin-left: 11px; */
        &::before {
            content: '•';
            display: inline-block;
            margin-right: 5px;
            margin-left: 6px;
        }
    
    .testimonials__content {
        @extend %smallParagraph;
    }     
    }
}

.testimonials__scroollbar {
    @extend %displayFlexCenterCeter;
    justify-content: flex-start;
    width: 599px;
    height: 8px;
    text-align: center;
    background: $line_scroll;
    border-radius: 5px;
    border: 1px solid transparent; /*Обводка нужной толщины, но прозрачная*/
   // background: linear-gradient(0deg, #5E17EB 0.08%, #E5097F 155.74%); /*Нужный градиент в качестве фона*/
    box-shadow: inset 0px 0px 0px 100vw #fff; /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
    border-radius: 60px; /*Скругляет углы*/
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(0deg, #F5F7F6, #F5F7F6);
    margin-bottom: 31px;
}

.testimonials__scroollbar-slider {
    background: $orange13;
    border-radius: 5px; 
    width: 115.19px;
    height: 6px;
    display: block;
    margin: 1px 0;
}

.testimonials__btn {
    border-radius: 5px;
    @extend %font_style_button;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 183px;
}

.footer {
    background: $black_footer;  
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer__inner {
    display: grid;
    //grid-template-columns: 298px 101px 362px 32px 367px;
    grid-template-columns: 399px 394px 367px;
    grid-template-rows: auto;
}

.footer__box:nth-child(1) {
    grid-column: 1 / 2;
    justify-items: flex-start;
    /* margin-right: 101px; */

    .logo {
        margin-bottom: 68px;
        justify-content: flex-start;
    }

    .footer__btn {
        @extend %font_style_button;
        margin-bottom: 44px;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }

    .footer__item-contact + .footer__item-contact {
        margin-top: 10px;
    }

    .footer__item-contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
            color: $white;
            background: rgba(196, 196, 196, 0.5);
            width: 26px;
            height: 26px;
            border-radius: 50%;
            @extend %displayFlexCenterCeter;
            margin-right: 12px;
        }
    }

    .footer__contact-link {
        @extend %fontFamilyRoboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
    }
}

.footer__box:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .navigation__link {
        font-weight: 400;
    }
}

.footer__box:nth-child(3) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    .footer__title {
        @extend %font_title;
        font-size: 24px;
        color: $white;
        margin-bottom: 14px;
    }

    .footer__enter {
        display: flex;
        flex-direction: row;
        //background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;

        .footer__input {
            margin-right: 10px;
            max-width: 228px;
            height: 42px;
            padding: 10px 7px 10px 10px;
            @extend %font_style_button;
            font-weight: 400;
            background-color: $black_footer;
            border: 0.7px solid;    
            border-radius: 2px;
            //border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            &:focus {
                outline: none;
            }
           
        }

        .footer__enter-btn {
            width: 129px;
            height: 42px;
            background: $gray_light;
            border: 1px solid $green;
            border-radius: 5px;
            @extend %font_style_button;
            font-weight: 400;
            color: $green;
        }

        
    }

    
}

 
        




